port: 7880
log_level: debug
rtc:
  tcp_port: 7881
  port_range_start: 50000
  port_range_end: 60000
  use_external_ip: false
  use_mdns: false
redis:
  address:
    127.0.0.1:6379
    #   username: "default"
    #   password: "f28jfsjdlIJfi23Jsdk"
  db:
    0
    # turn:
    #   enabled: false
    #   domain: livekit-turn.ximi.network
    #   tls_port: 5349
    #   udp_port: 443
    #   external_tls: true
keys:
  APIbwh75fZDiGWQ: pjPZSpfsII40fNO0F2gzlYuK53DcC25cHulmPsCxl3t
webhook:
  api_key: "APIbwh75fZDiGWQ"
  urls:
    - "http://localhost:3000/livekit-webhook"
